<!DOCTYPE html>
<html>
<head>
	<title>Loi Carrez</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
	<h1>Loi Carrez</h1>
	<div class="container">
		<input type="text" name="url" id="url" value="http://www.leboncoin.fr/ventes_immobilieres/915700197.htm?ca=12_s">
		<button id="compute">Compute</button>
		<div id="result"></div>
	</div>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
